@import "master.css";
body {
	background: #000000;
}

.header {
	padding-bottom: 0px;
	background: #4b636e;
	color: white;
}
.topNav	{
	text-align: center;
	height: 60px;
}
.topNav .row .col-12 {
	height: 60px;
}
.topNav ul {
	list-style-type: none;
}
.topNav li {
	display: inline;
}

.logo {
	text-align: center;
	height: 80px;
}
.navBar {
	text-align: center;
	height: 80px;
	padding-bottom: 0px;
}
.navBar	ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.navBar li {
	display: inline;
	height: 80px;
	width: 100%;
	background: #a7c0cd;
}
.content {
	max-width: 1380px;
	text-align: center;
	margin: auto;
}
.jumbotron {
	text-align: center;	
}
.jumbotron img {
	height: 700px;
}
.moreInfo {
	text-align: center;
}
.moreInfo img {
	height: 660px;
}
.footer {
	background: #4b636e;
}
